
.svg-facebook-icon {
	width: 100px;
	height: 70px;
	background-position: -0px 0;
}

.svg-unicorn-icon {
	width: 300px;
	height: 200px;
	background-position: -100px 0;
}

.no-svg .svg-facebook-icon,
.no-svg .svg-unicorn-icon {
	display: inline-block;
	background-image: url("../sprites/png-sprite.png");
	background-size: 400px 200px;
}

.svg-facebook-icon,
.svg-unicorn-icon {
	display: inline-block;
	background-image: url("../sprites/svg-sprite.svg");
	background-repeat: no-repeat;
}
