
.facebook:before {
	width: 10em;
	height: 7em;
	background-position: 0% 0;
	background-size: auto 285.7142857142857%;
}

.unicorn:before {
	width: 30em;
	height: 20em;
	background-position: 100% 0;
	background-size: auto 100%;
}

.facebook,
.unicorn {
	font-size:10px;
}

.no-svg .facebook:before,
.no-svg .unicorn:before {
	background-image: url("../sprites/png-sprite.png");
}

.facebook:before,
.unicorn:before {
	content:' ';
	vertical-align:middle;
	display: inline-block;
	background-image: url("../sprites/svg-sprite.svg");
	background-repeat: no-repeat;
}
