
.svg-facebook-icon:before {
	width: 10em;
	height: 7em;
	background-position: 0% 0;
}

.svg-unicorn-icon:before {
	width: 30em;
	height: 20em;
	background-position: 100% 0;
}

.svg-facebook-icon,
.svg-unicorn-icon {
	font-size:10px;
}

.no-svg .svg-facebook-icon:before,
.no-svg .svg-unicorn-icon:before {
	background-image: url("../sprites/png-sprite.png");
}

.svg-facebook-icon:before,
.svg-unicorn-icon:before {
	content:' ';
	vertical-align:middle;
	display: inline-block;
	background-image: url("../sprites/svg-sprite.svg");
	background-repeat: no-repeat;
	background-size: 40em 20em;
}
