
.facebook {
	width: 100px;
	height: 70px;
	background-position: -0px 0;
}

.unicorn {
	width: 300px;
	height: 200px;
	background-position: -100px 0;
}

.no-svg .facebook,
.no-svg .unicorn {
	display: inline-block;
	background-image: url("../sprites/png-sprite.png");
	background-size: 400px 200px;
}

.facebook,
.unicorn {
	display: inline-block;
	background-image: url("../sprites/svg-sprite.svg");
	background-repeat: no-repeat;
}
