.<%=common %> {
    font-size: <%= baseSize %>px;
}

.<%=common %>:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("<%=svgPath%>");
    background-repeat: no-repeat;
    background-size: <%= relWidth %>em <%= relHeight %>em;
}


<% _.forEach(svg, function(svgItem) { %>

  .no-svg .<%=common %>:before {
      background-image: url("<%=pngPath%>");
  }
  .<%=common %>.<%=svgItem.name%>:before {
      background-position: <%= svgItem.relPositionX %>em <%= svgItem.relPositionY %>em;
      width: <%= svgItem.relWidth %>em;
      height: <%= svgItem.relHeight %>em;
  }


<% }); %>


