{#common}.{common} {
    font-size: {baseSize}px;
}

.{common}:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("{svgPath}");
    background-repeat: no-repeat;
    background-size: {relWidth}em {relHeight}em;
}

.no-svg .{common}:before {
    background-image: url("{pngPath}");
}{/common}
{#svg}
{#common}.{common}{/common}.{name}:before {
    background-position: {relPositionX}em {relPositionY}em;
    width: {relWidth}em;
    height: {relHeight}em;
}
{/svg}
